<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true" scanPeriod="60 seconds" debug="true">
    <!-- 其他配置省略-->
    <property name="APP_Name" value="miss4" />
    <contextName>${APP_Name}</contextName>

    <appender name="miss" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoder 默认配置为PatternLayoutEncoder -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.haoteng.miss4" level="INFO" additivity="false">
        <appender-ref ref="miss"/>
    </logger>
    <root level="INFO">
        <appender-ref ref="miss" />
    </root>
</configuration>

